
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #b5b5ff;
}

header {
    background-image: linear-gradient(to top, #0000ff, #4646ff);
    height: 120px;
    text-align: center;
    justify-content: center;
}

header h1, header p {
    color: #fff;
    padding: 10px;
}

main {
    background-color: #fff;

    min-height: 400px;
    min-width: 500px;
    max-width: 1000px;

    margin: auto;
    margin-bottom: 20px;
    padding: 10px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

main h1 {
    color: #00006b;
    text-align: center;
    margin: 20px 0px;
}

main section.desc {
    display: flex;

    background-color: #b5b5ff;

    min-height: 100px;
    max-width: 850px;
    margin: auto;
    
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

section.desc > img {
    width: 200px;
    margin: -10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

section.desc > div  {
    margin-left: 20px;
    padding: 5px;
}

section.desc > div > h2 {
    color: #000;
    font-size: 1.4em;
}

a.link {
    color: #000;
    text-decoration: none;
}

footer {
    width: 98vw;
    background-color: #0000ff;
    color: #fff;

    padding: 10px;
    text-align: center;

    z-index: -1;
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translate(-50%, -100%);
}
